@media (max-width: 1200px) {
  .header {
    margin-left: 0px;
  }
  .header__inner {
    max-width: 800px;
    margin: 0 auto;
  }
  .logo {
    padding-left: 10px;
  }
  .content {
    width: 100%;
    background-image: url("../images/bg-content.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
  }
  .content__inner {
    padding: 0;
  }
  .content__slice-pizza img {
    display: none;
  }
  .content__text {
    width: 600px;
    color: #fff;
    text-align: center;
  }
  .content__text {
    margin: 0 auto;
    text-align: center;
  }
  .content__text-title h2 {
    padding-top: 0px;
  }
  .box {
    width: 500px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 64px 0px 58px 100px;
  }
  .box-item {
    width: 400px;
    padding: 64px 0px 58px 10px;
  }
  .box-text {
    border-right: 0;
  }
}

@media (max-width: 800px) {
  .header__inner {
    flex-direction: column;
  }
  .header__nav {
    padding: 20px 10px;
    margin: 0 auto;
  }
  .content__text-title h2 {
    font-size: 35px;
  }
  .content__text-description p {
    font-size: 16px;
  }
  .content__btn a {
    font-size: 16px;
  }
  .create__top-box {
    padding-top: 30px;
  }
  .box {
    width: 400px;
    padding: 64px 0px 58px 40px;
  }
  .box-text {
    padding-bottom: 15px;
    border-bottom: 2px solid #eaeaea;
  }
  .create__title > h2 {
    font-size: 35px;
    padding-right: 95px;
    padding-left: 77px;
  }
  .create__title > h2::before,
  .create__title > h2::after {
    display: none;
  }
  .tab-header > li::after {
    display: none;
  }
  .tab-header > li {
    padding-bottom: 10px;
    margin-left: 0;
  }
  .subtitle p {
    font-size: 16px;
  }
  .number {
    font-size: 80px;
  }
  .box-text h3 {
    font-size: 35px;
  }
  .box-text p {
    font-size: 16px;
  }
  .tab-header {
    padding: 20px 0;
    max-width: 173px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .tab-header__item {
    margin: 10px 0;
  }
  .box-item {
    width: 400px;
    padding: 20px 60px 20px 70px;
  }
  .box-item:last-child .box-text {
    border-bottom: 0;
  }
  .number-2::after {
    background-image: url("../images/item-2.png");
    left: 48px;
  }
  .number-3::after {
    background-image: url("../images/item-3.png");
    left: 58px;
  }

  .create__lenta a {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .logo img {
    background-repeat: no-repeat;
    padding: 17px 0px 7px 10px;
  }
  .header__nav {
    font-size: 14px;
  }
  .header__nav > li {
    margin-left: 19px;
  }
  .content__text-description p {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .header__nav > li {
    list-style: none;
    margin-left: 10px;
    padding-left: 14px;
  }
  .box {
    text-align: center;
    width: 408px;
    padding: 20px 30px 20px 30px;
  }
  .box-item {
    width: 300px;
    padding: 0px 10px 10px 10px;
  }
  .box-text {
    padding-right: 0px;
  }
  .number::after {
    position: static;
    margin: 0 auto;
  }

  .lenta {
    padding: 40px 0 36px 0;
  }
  .create__lenta {
    background-size: contain;
    max-width: 100%;
    height: 50px;
  }
  .create__lenta a {
    font-size: 18px;
  }
  .footer p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  

  .dropbtn {
    display: block;
    position: fixed;
    content:'';
    left: 380px;
    top: 15px;
    z-index: 2;
  }


  .header__nav{
    display: none;
  }
 
}
